<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHECKOUT</title>
</head>
<body>
  <h1>Checking out</h1>
  <hr/>
  Please enter your information and pay method:
  <form action="/checkout" method="post">
    First Name: <input type="text" name="firstname"><br>
    Last Name: <input type="text" name="lastname"><br>
    Pay Method: <select name="pays">
    <option value="VISA">VISA</option>
    <option value="MASTERCARD">MasterCard</option>
    <option value="PAYPAL">PayPal</option>
  </select><br>
    <button type="submit" onclick="www.baidu.com">Submit</button>
  </form>
</body>
</html>