{% extends "base2.html" %}
{% block title %}Item List{% endblock %}
{% block body %}

<style type="text/css">
	table {
		border-collapse: collapse;
	}

	.col1 {
		padding-top: 5px;
		border-top: 1px dashed #666666;
		text-indent: 40px
	}

	.col2 {
		padding-top: 5px;
		border-top: 1px dashed #666666;
		text-align: right;
	}

	.col3 {
		padding-top: 5px;
		border-top: 1px dashed #666666;
		text-align: center;
	}

</style>

<table width="100%" border="0" align="center">
    <tr>
        <td width="616"><img src="{{ url_for('static', filename='images/list.jpg') }}" align="absmiddle"/></td>
        {% include 'goods_header.html' %}
    </tr>
</table>
<hr width="100%"/>
<div class="text3" align="center">Pick your favorite from the list!</div>

<form name="input" action="/newList" method="POST">
	Price Filter: Prices lower than <input type="int" name="user">
	<input type="submit" value="Submit">
	</form>


<br>
<table width="100%" border="0" align="center">
    <tr bgcolor="#b4c8ed">	
        <th>Item</th>
        <th width="5%">Price</th>
        <th width="15%">Add to your Shopping Cart</th>
    </tr>
  {% for goods in list %}
    <tr bgcolor={{ loop.cycle('#ffffff', '#edf8ff') }}>
        <td class="col1"><a href="/detail?id={{ goods.id }}">{{ goods.description }}</a></td>
        <td class="col2">￥{{ goods.price}}</td>
        <td class="col3"><a href="/add?id={{ goods.id }}&name={{ goods.name }}&price={{ goods.price }}">Add</a></td>
    </tr>
  {% endfor %}
</table>
{% endblock %}