{% extends "base.html" %}
{% block title %}User LogIn{% endblock %}
{% block header %}User LogIn{% endblock %}
{% block body %}
<form action = "/login" method = "POST">
  <table width="40%" border="0" align="center">
    <tbody>
      <tr>
        <td>User ID:</td>
        <td><input name="userid" type="text"/></td>
      </tr>
      <tr>
        <td>Passwords:</td>
        <td><input name="userpwd" type="password"/></td>
      </tr>
      <tr align="center">
        <td colspan="2">
          <input type="submit" value="Login">
          <input type="reset" value="Register">
        </td>
      </tr>
    </tbody>
  </table>
</form>
{% endblock %}