<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Online Shopping Website</title>
</head>
<body>
   Simple Online Shopping Website
  <hr>
   <p>This is product list page<p><br>

  Product1
<form action="", method="post">
       <input type="submit" name="buy" value="p1">
   </form>
  Product2<br>
<form action="", method="post">
       <input type="submit" name="buy" value="p2">
   </form>
  Product3<br>
<form action="", method="post">
       <input type="submit" name="buy" value="p3">
   </form>

<form action="", method="post">
       <input type="submit" name="checkout" value="buy">
   </form>
<li><a href="/cart">Cart</a></li>
<li><a href="/checkout">CheckOut</a></li>
</body>
</html>